.seletedPage {
    font-weight: bold;
}

.searchBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button[id='user-find'] {
    width: 3rem!important;
}

button[id='user-find'] svg {
    color: var(--main-bg-color);
    width: 2.3rem;
}

.search {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

input[id='user-input'],
input[id='user-input']:focus {
    border: none;
    outline: none;
}

.users {
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

/*.buttonBlock {*/
/*    background-color: var();*/
/*}*/

@media (min-width: 576px) {
    .search {
        flex-wrap: nowrap;
    }

    .users {
        justify-content: center;
    }
}