.userPhoto {
    width: 100px;
    height: 100px;
}

.seletedPage {
    font-weight: bold;
}

/*.searchContainer {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 1rem;*/
/*}*/

.searchBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.searchBlock:nth-child(1) {
    /*width: 40%;*/
    /*flex-grow: 1;*/
}

/*.searchBlock > div {*/
/*    width: 50%;*/
/*}*/

.find {
    border-radius: 2rem;
    width: 4rem;
}

