.status span{
    font-style: italic;
    overflow-wrap: anywhere;
}

.status {

}

div[id='status-input-block'] {
    height: auto;
}

.statusInput {
    width: 100%;
}

.profileStatus {
    flex-grow: 1;
}