.header {
    display: flex;
    align-items: center;
    height:80px;
    border-bottom: 1px solid var(--mute-text);
    justify-content: flex-end;
    padding: 0 2rem;
    gap: 1rem;
}

.loginBlock {
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: flex-end;*/
    /*gap: 0.5rem;*/
}

.loginLink {
    font-size: 14px;
    color: var(--main-bg-color);
    display: flex;
    gap: 1rem;
    align-items: center;
}

.headerLogin {
    border-bottom: none;
    height: 60px;
}

.loginIcon {
    background: var(--dark-bg-color);
    border-radius: 2rem;
    height: 2rem;
    width: 2rem;
    text-align: center;
    line-height: 2rem;
}

.loginIcon p {
    text-align: center;
    /*margin: auto 0;*/
    line-height: 2rem;
}

.loginIcon p svg {
    width: 1.2rem;
    height: 1.2rem;
}

/*.loginIcon svg {*/
/*    margin: 0 auto;*/
/*           }*/

/*.loginBlock {*/
/*    float: right;*/
/*}*/

/*.loginBlock a {*/
/*    !*color: darkslategray;*!*/
/*    text-decoration: none;*/
/*}*/

