
.nav {
    grid-area: nav;
    background: var(--main-bg-color);
    color: var(--icon-color);
}

.logoBlock {
    background: var(--dark-bg-color);
    padding: 2.5rem 1rem 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logoBlock img {
    width: 3.5rem;
}

.title {
    color: var(--mute-text);
}

.userInfo {
    background: var(--main-bg-color);
    border-radius: 0.7rem;
    width: 100%;
    height: 200px;
}

.link {
    text-decoration: none;
    /*color: white;*/
}

.avatar {
    width: 3rem;
    height: 3rem;
    border: 2px  solid  var(--accent-color);
    border-radius: 1.5rem;
    /*padding: 0.2rem;*/
}

.avatar img {
    height: 100%;
    width: auto;
    border-radius: 1.5rem;
    /*margin: 0 auto;*/
}

.active {
    /*color: gold;*/
}