.nav {
    background: var(--main-bg-color);
    color: var(--icon-color);
    margin-top: -80px;
}

.logoBlock {
    background: var(--dark-bg-color);
    padding: 2.5rem 2.5rem 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logoBlock img {
    width: 3.5rem;
}

.avatarBlock {
    border: 1px  solid  var(--mute-text-color);
    border-radius: 2rem;
}

.title {
    color: var(--mute-text-color);
}

.userInfo {
    background: var(--main-bg-color);
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    border-radius: 12px;
    position: relative;
    margin-top: 1rem;
    margin-bottom: -65px;
    box-shadow: 0 15px 100px rgba(58,46,68,0.06);
}

.login {
    margin: 0.5rem  auto;
    text-align: center;
}

.member {
    color: var(--section-bg-color);
    font-weight: 400;
    font-size: 0.8rem;
    margin: 0.5rem  auto;
    text-align: center;
}

.connections{
    padding-top: 0.8rem;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-top: 1px solid var(--mute-text-color);
    list-style-type: none;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.connections li {
    display: inline-block;
    text-align: center;
}

.count {
    font-size: 1rem;
    font-weight: 600;
    color: var(--section-bg-color);
}

.mute {
    font-size: 0.8rem;
    color: var(--mute-text-color);
    margin-block-start: 0.2rem;
}

.menu {
    padding: 5rem 2.75rem 2.75rem;
    display: grid;
    grid-template-columns: 50% 50%;
}

.item {
    padding: 1rem 0.25rem;
    text-align: center;
}

/*.item:hover {*/
/*    cursor: pointer;*/
/*}*/



@media (min-width: 992px) {
    .nav {
        width: 335px;
    }
}
