.nav {
    /*grid-area: nav;*/
    background: var(--main-bg-color);
    color: var(--icon-color);
    /*max-width: 335px;*/
}

.logoBlock {
    background: var(--dark-bg-color);
    /*width: 100%;*/
    padding: 2.5rem 2.5rem 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logoBlock img {
    width: 3.5rem;
}

.title {
    color: var(--mute-text);
}

.userInfo {
    background: var(--main-bg-color);
    /*height: 200px;*/
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    border-radius: 12px;
    position: relative;
    /*margin: 1rem auto -65px;*/
    margin-top: 1rem;
    margin-bottom: -65px;
    box-shadow: 0 15px 100px rgba(58,46,68,0.06);
}

.link {
    text-decoration: none;
    color: var(--icon-color);
}

.link:hover {
    color: var(--accent-color);
}



.login {
    margin: 0.5rem  auto;
    text-align: center;
}

.member {
    color: var(--section-bg-color);
    font-weight: 400;
    font-size: 0.8rem;
    margin: 0.5rem  auto;
    text-align: center;
}

.active {
    color: var(--accent-color);
}

.connections{
    padding-top: 0.8rem;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-top: 1px solid var(--mute-text);
    list-style-type: none;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    /*padding-inline-start: 0;*/
    /*margin-block-start: 0;*/
    /*margin-block-end: 0;*/
}

.connections li {
    display: inline-block;
    text-align: center;
}

.count {
    font-size: 1rem;
    font-weight: 600;
    color: var(--section-bg-color);
}

.mute {
    font-size: 0.8rem;
    color: var(--mute-text);
    margin-block-start: 0.2rem;
}

.menu {
    /*font-size: 1.4rem;*/
    padding: 5rem 2.75rem 2.75rem;
    display: grid;
    grid-template-columns: 50% 50%;
}

.item {
    padding: 1rem 0.25rem;
    text-align: center;
}

.link p {
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

@media (min-width: 992px) {
    .nav {
        width: 335px;
    }
}
