.userInfo {
    display: flex;

}

.userInfo table {
    border-collapse: collapse;
    width: 100%;
    /*line-height: 2.7rem;*/

    margin-right: 1rem;
}


.userInfo tr {
    height: 2.7rem;
    border-bottom: 1px solid var(--mute-text-color);
}

.userInfo tr td {
    padding: 0.5rem 1rem;
    vertical-align: top;
    overflow-wrap: anywhere;
}

.userInfo tr td:nth-of-type(1) {
    background: var(--element-bg-color);
    width: 40%;
}

.userInfo {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.edit {
    background: none;
    border: none;
    cursor: pointer;
    padding-right: 0;
    padding-left: 0;
    transition: 0.3s;
}

.edit:hover {
    transform: scale(1.2);
}

/*.edit:active {*/
/*    transform: scale(1.1);*/
/*}*/

.edit img {
    width: 1.3rem;
    height: 1.3rem;
}

@media (max-width: 768px) and (min-width: 576px) {
/*@media (max-width: 576px) {*/
    .userInfo table tr {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .userInfo  tr td {
        padding: 1rem;
    }

    .userInfo  tr td:nth-of-type(1) {
        width: auto;
    }
}