.link {
    text-decoration: none;
    color: var(--icon-color);
    cursor: pointer;
}

.link:hover {
    color: var(--accent-color);
}

.active {
    color: var(--accent-color);
}

.link p {
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

.inputBlock {
    width: 100%;
    border: 1px solid var(--element-bg-color);
    border-radius: 2rem;
    background: var(--element-bg-color);
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    height: 2rem;
    display: flex;
    align-items: center;
}

.inputBlock svg {
    margin-left: 0.8rem;
}

.inputBlock input {
    height: 2.3rem;
    background: var(--element-bg-color);
    border: none;
}

.inputField input::before,
.inputField::before {
    border-bottom: 0 solid rgba(0, 0, 0, 0.42)!important;
}

.inputField input::after,
.inputField::after {
    border-bottom: 0 solid rgba(0, 0, 0, 0.42)!important;
}

.inputBlock input::placeholder {
    font-size: 14px;
}

.inputBlock:focus {
    border-color: var(--accent-color);
    border-width: 1px;
    border-style: solid
}

.inputBlockError {
    border: 1px solid red;
}

button {
    height: 3rem;
    border: none;
    border-radius: 2rem;
    background-color: #8224e3;
    background-image: linear-gradient(210deg, #a968ec 0%, #8224e3 50%,  #8224e3 25%);
    /*box-shadow: 0 1px 2px 0 rgba(130, 36, 227, 0.5);*/
    color: #fff;
    cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s;
}



/*input[type="checkbox"] {*/
/*    color: var(--accent-color);*/
/*    margin: auto 0.3rem;*/
/*    border-radius: 4px;*/
/*    vertical-align: middle;*/
/*    !*margin-top: -2px;*!*/
/*}*/




