.link {
    text-decoration: none;
    color: var(--icon-color);
}

.link:hover {
    color: var(--accent-color);
}

.active {
    color: var(--accent-color);
}

.link p {
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

.inputBlock {
    /*width: 100%;*/
    border: 1px solid var(--element-bg-color);
    border-radius: 2rem;
    background: var(--element-bg-color);
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    height: 2rem;
    display: flex;
    align-items: center;
}

.inputBlock svg {
    margin-left: 0.8rem;
}

.inputBlock input,
.inputBlock textarea {
    height: 2.3rem;
    background: var(--element-bg-color);
    /*border: none;*/
    width: 100%;
    border: 0.5px solid  var(--element-bg-color);
    border-radius: 2rem;
    padding: 0 1rem;
}

.inputBlock textarea {
    border-radius: 0;
}

.inputField {
    width: 100%;
}

.inputField input::before,
.inputField textarea::before,
.inputField::before,
.inputField div::before {
    border-bottom: 0 solid rgba(0, 0, 0, 0.42)!important;
}

/*.inputField>div>textarea:focus::before {*/
/*    background-color: red;*/
/*    border-bottom: 0 solid rgba(0, 0, 0, 0.42)!important;*/
/*}*/

.inputField input::after,
.inputField textarea::after,
.inputField::after {
    border-bottom: 0 solid rgba(0, 0, 0, 0.42)!important;
}

.inputField fieldset {
    border: none;
}

.inputBlock input::placeholder,
.inputBlock textarea::placeholder{
    font-size: 14px;
}

.inputBlock:focus {
    border-color: var(--accent-color);
    border-width: 1px;
    border-style: solid
}

/*.inputBlock[id='user-input-block'] {*/
/*    width: 45%;*/
/*}*/

.inputBlockError {
    border: 1px solid red;
}

input:-webkit-autofill,
input:-webkit-autofill:focus{
    transition: background-color 0s 600000s, color 0s 600000s;
}

select{
    width: 100%;
    background: var(--element-bg-color);
    font-size: 14px;
    color: var(--icon-color);
    font-family: inherit;
    /*-moz-appearance: none;*/
    /*-webkit-appearance: none;*/
    border: none;
    border-radius: 1rem;
    position: relative;
    outline: none;
    padding: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.7rem;
}


/*option {*/
/*    border-radius: 1rem;*/
/*    border-bottom: none;*/
/*    outline: none;*/
/*}*/



/*input[type="checkbox"] {*/
/*    color: var(--accent-color);*/
/*    margin: auto 0.3rem;*/
/*    border-radius: 4px;*/
/*    vertical-align: middle;*/
/*    !*margin-top: -2px;*!*/
/*}*/




