.login {
    display: flex;
    margin: 0 auto;
}

.loginSidebar,
.loginForm {
    width: 50%;
    padding: 5rem 3rem;
    color: var(--section-bg-color);
}

.loginSidebar {
    background: var(--accent-color);
    color: var(--main-bg-color);
}

.loginSidebarTitle {
    font-size: 1.616em;
    font-weight: 700;
}

.loginSidebarText {
    font-size: 15px;
    line-height: 2rem;
    padding-bottom: 1.5rem;
}

.loginSidebarIcon {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1.5rem;
}

.iconBlock {
    border: 2px solid var(--main-bg-color);
    border-radius: 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginLogo {
    text-align: center;
}

.loginLogo img{
    width: 4rem;
}

.loginSidebar p,
.loginSidebar h3{
    margin: 0;
}

.remember {
    display: flex;
    font-weight: normal;
    justify-content: space-between;
    align-items: center;
    margin: 0.8rem 0;
}

.remember label {
    display: flex;
    margin-left: 0.05rem;
}

.remember span {
    font-size: 0.85rem;
}

.loginForm {
    background: var(--main-bg-color);
    color: var(--icon-color);
    text-align: center;
    font-size: 14px;
}

.loginForm .loginSidebarTitle {
    color: var(--dark-bg-color);
}

button[type='submit'] {
    width: 100%;
}


@media (min-width: 992px) {
    .login {
        width: 750px;
        height: 520px;
    }
}