.login {
    display: flex;
    margin: 0 auto;
}

.loginSidebar,
.loginForm {
    width: 50%;
}

.loginSidebar {
    background: var(--accent-color);
}

.loginForm {
    background: var(--main-bg-color);
}


@media (min-width: 992px) {
    .login {
        width: 750px;
        height: 520px;
    }
}