.app-wrapper {
  display: flex;
    /*height: 100%;*/
}

.app-wrapper-block {
    display: flex;
    flex-direction: column;
    /*width: 100%;*/
    flex-grow: 1;
}

.app-wrapper-content {
}

.login-container {
    margin: auto;

}

.wrapperDirection {
    flex-direction: column-reverse;
    height: 100%;
}

.wrapperBlockBackground {
    /*background: var(--section-bg-color);*/
    background: var(--dark-bg-color);
}

.content {
    display: flex;
    flex-direction: row;

}

.contentMargin {
    margin: auto;
}



