.app-wrapper {
  display: flex;
}

.app-wrapper-block {
    display: flex;
    flex-direction: column;
    /*width: 100%;*/
    flex-grow: 1;
}

.app-wrapper-content {
}

.wrapperDirection {
    flex-direction: column-reverse;
    background: var(--dark-bg-color);
}

.wrapperBlockBackground {
    background: var(--section-bg-color);
}




