body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main-bg-color: #ffffff;
  --element-bg-color: #f8f9fb;
  --section-bg-color: #34323C; /*rgba(130, 36, 227, 0.04);*/
  --dark-bg-color: #4f5261;
  --text-color: #29292d;
  --mute-text-color: #bbbbdc;
  --icon-color: #838daa;
  --accent-color: #8224e3;
  --error-color: #BD2424FF;
}


