.dialogs {

}

.dialogForm {
    /*width: 100%;*/
}

div[id='message-input-block'] {
    height: auto;
}

.dialogsItems {
    padding: 10px;
}

button[id="sendMessage"] {
    width: 50%;
    float: right;
    margin: 1rem 0;
}

.dialog .active {
    color: gold;
}

.link {
    text-decoration: none;
    color: white;
}

.dialog {

}

.messages {
    padding: 10px;
}

.messagesBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

